$blue: rgba(0,86,136,1);
$white: #fff;
$darkFontColor: rgb(79, 82, 86);
$baseFontColor: #6C7177;
$font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  font-family: $font;
  color: $baseFontColor;
}

.sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 240px;
  .sidebar-logo {
    margin-top: 60px;
    padding: 20px 30px;
    text-align: center;
    img {
      width: 96px;
    }
  }
}

.main-container {
  margin-left: 240px;
}

.sidate {
  .sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.31);
    // position: fixed;
    // top: 51px;
    // bottom: 0;
    // left: 0;
    // z-index: 1000;
    // display: block;
    // padding: 20px;
    // overflow-x: hidden;
    // overflow-y: auto;
  }
  .navbar {
    background-color: $blue;
  }
  .navbar-default {
    .navbar-brand{
      color: $white;
    }
    .navbar-nav {
      > li a {
        color: $white;
      }
      > li.active a {
        background-color: darken($blue, 8);
        color: $white;
      }
    }
  }
}
