<!DOCTYPE html>
<html lang="de">
<head>
  <script src="/styles/jquery-3.1.1.min.js"></script>
  <link href="/styles/font-awesome.min.css" rel="stylesheet">
  <link href="/styles/roboto.css" rel="stylesheet">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>SIDATE SecMaus</title>
</head>
<body>
  <script type="text/javascript">
    // Single Page Apps for GitHub Pages
    // https://github.com/rafrex/spa-github-pages
    // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
    // ----------------------------------------------------------------------
    // This script checks to see if a redirect is present in the query string
    // and converts it back into the correct url and adds it to the
    // browser's history using window.history.replaceState(...),
    // which won't cause the browser to attempt to load the new url.
    // When the single page app is loaded further down in this file,
    // the correct url will be waiting in the browser's history for
    // the single page app to route accordingly.
  (function(l) {
    if (l.search) {
      var q = {};

      l.search.slice(1).split('&').forEach(function(v) {
        var a = v.split('=');
        q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
      });

      if (q.p !== undefined) {
        window.history.replaceState(null, null,
            l.pathname.slice(0, -1) + (q.p || '') +
            (q.q ? ('?' + q.q) : '') +
            l.hash
            );
      }
    }
  }(window.location))
  </script>
  <script type="text/javascript">
  $(window).resize(function() {
    const more = document.getElementById("js-navigation-more");
    if ($(more).length > 0) {
      const windowWidth = $(window).width();
      const moreLeftSideToPageLeftSide = $(more).offset().left;
      const moreLeftSideToPageRightSide = windowWidth - moreLeftSideToPageLeftSide;

      if (moreLeftSideToPageRightSide < 330) {
        $("#js-navigation-more .submenu .submenu").removeClass("fly-out-right");
        $("#js-navigation-more .submenu .submenu").addClass("fly-out-left");
      }

      if (moreLeftSideToPageRightSide > 330) {
        $("#js-navigation-more .submenu .submenu").removeClass("fly-out-left");
        $("#js-navigation-more .submenu .submenu").addClass("fly-out-right");
      }
    }
  });

  $(document).ready(function() {
    var menuToggle = $("#js-mobile-menu").unbind();
    $("#js-navigation-menu").removeClass("show");

    menuToggle.on("click", function(e) {
      e.preventDefault();
      $("#js-navigation-menu").slideToggle(function(){
        if($("#js-navigation-menu").is(":hidden")) {
          $("#js-navigation-menu").removeAttr("style");
        }
      });
    });
  });
  </script>
  <div id="app"></div>
</body>
</html>
